@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text&display=swap");

body {
  font-family: "Big Shoulders Stencil Text", cursive;
  margin: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}
#solarSystem {
  position: absolute;
  top: -20px;
  left: -20px;
  bottom: -20px;
  right: -20px;
  transform: scale(1.2) translateX(30px);
  filter: blur(20px);
}
.info {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  background-color: transparent;
  color: #fff;
}
h2,
h4 {
  font-weight: 600;
  letter-spacing: 1.5px;
  width: 280px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  border-radius: 20px 0;
  text-align: center;
  cursor: pointer;
}
h2 {
  font-size: 38px;
}

h4 {
  font-size: 18px;
}
h2::selection,
h4::selection {
  text-decoration: none;
}
h2 span {
  display: inline-block;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
h2:hover > span {
  transform: translateY(-20px);
}
h4 span {
  display: inline-block;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
h4:hover > span {
  transform: translateY(20px);
}
@media (max-width: 400) {
  canvas {
    transform: rotate(90deg) scale(0.9);
  }
}
